h1 a, h2 a {
    color: grey; 
}

.nav{
    padding-top: 0%;
    background-color: lightgray;
}

.message{
    font-size: 15px;
    color: red;
    font-weight: bold;
}

.post{
    padding: 20px;
    border: solid lightgray;
    border-radius: 25px;
}